*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --whiteColor: hsl(0, 0%, 100%);
    --lightGrayColor: hsl(212, 45%, 89%);
    --grayishBlueColor: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --fontSize: 15px;
    --fontBold:700;
    --widthMobile:375px;
    --widthDesktop:1440px;
    --borderRadius:20px;
}
body {
    background-color: var(--lightGrayColor);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}
p {
    font-size: var(--fontSize);
}
.main-card {
    height: 100vh;
    display: flex;
}
.card {
    margin-top: 5rem;
    width: 300px;    
    margin: auto;
    background-color: var(--whiteColor);   
    border-radius: var(--borderRadius); 
}
.card-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.poster-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card-description {
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.card-description .title {
    font-size: 18px;
    line-height: 1.7rem;
    font-weight: var(--fontBold);
    color: var(--darkBlue);
}
.card-description .description {
    margin-top: 0.7rem;
    line-height: 1.2rem;
    color: var(--grayishBlueColor);
}